.message_area {
    padding: 20px
}

.message {
    display: flex;
    max-width: 300px;
    align-items: end;
    margin-bottom: 20px;
}

.message_content {
    display: flex;
    background: #222f40;
    border-radius: 5px 5px 5px 0;
    position: relative;
}

.message_content::before {
    display: block;
    content: "";
    position: absolute;
    left: -14px;
    bottom: 0;
    width: 15px;
    height: 15px;
    background: black;
    background: radial-gradient(30px at top left, transparent 49%, #222f40 51%) no-repeat right bottom;
}

.message_block {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.message_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.message_name {
    color: #8f7c9c
}

.message_text {
    margin: 0;
    color: #9fb79c;
}

.message_time {
    display: flex;
    align-items: end;
    color: #326a32;
    font-weight: 500;
    padding: 0 10px 5px 0;
}