.greeting_wrapper {
    padding: 10px;
}

.greeting_wrapper *{
    padding-bottom: 5px;
}

.greeting_controls {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.greeting_button {
    width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    border: 1px solid red;
}

.ok {
    border: 1px solid;
}
